name: Build a rolling image from the main branch

permissions:
  contents: write

on:
  push:
    branches:
    - "main"

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Dockerhub login
        uses: docker/login-action@v2
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - 
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Docker build & push
        uses: docker/build-push-action@v4
        with:
          context: ./ingester
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ github.repository }}-ingester:rolling
